xsd/task4-theaters_v2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="theaters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="theater" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="type"/>
                            <xs:element name="location">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="country"/>
                                        <xs:element type="xs:string" name="city"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="foundation"/>
                            <xs:element type="xs:string" name="arcitecture"/>
                            <xs:element type="xs:short" name="capacity"/>
                            <xs:element type="xs:string" name="director"/>
                            <xs:element type="xs:string" name="artisticDirector"/>
                            <xs:element type="xs:string" name="chiefConductor"/>
                            <xs:element type="xs:string" name="chiefChoreografer"/>
                            <xs:element type="xs:string" name="chiefChoirmaster"/>
                            <xs:element type="xs:string" name="website"/>
                            <xs:element type="xs:string" name="image"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
